{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_rollcheck
    @copyright 2020 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_rollcheck/content

    rollcheck content template.
}}

<div class="local_rollcheck">
    {{^timetowait}}
        <div class="overlay"></div>
        <div class="popup">
            <div class="message">
                <p>{{{alerttext}}}</p>
            </div>
            <div class="options">
                <a href="#" class="btn btn-primary option" data-option="markroll">{{#str}} markrollnow, local_rollcheck {{/str}}</a>
                <a href="#" class="btn btn-secondary option" data-option="remind">{{#str}} remindmein, local_rollcheck, {{remindtime}} {{/str}}</a>
                <a href="#" class="btn btn-secondary option" data-option="dismiss">{{#str}} dismiss, local_rollcheck {{/str}}</a>
            </div>
            <div class="spinner"><div class="circle spin"></div></div>
        </div>
       </div>
    {{/timetowait}}
</div>
